.root {
  display: flex;
  align-items: center;
  padding: 0.3rem 0 0.2rem 0.5rem;
  width: 95vw;
}

.root:hover,
.open {
  background-color: rgba(102, 192, 244, 0.1);
}

.userImg {
  padding-right: 1rem;
}

.userArrow {
  position: relative;
  opacity: 0;
}

.root:hover .userArrow,
.open .userArrow {
  opacity: 1;
}

.userArrow:hover {
  color: gainsboro;
}

.userContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.friendAndOptions {
  display: flex;
  align-items: center;
}

.userName,
.userStatus {
  color: gray;
  margin: 0;
  font-size: 0.8rem;
}
