.root {
  background-color: #373a40;
  color: rgba(191, 191, 191, 0.8);
  width: 200px;
  height: 240px;
}

.online {
  padding-top: 20px;
  color: #66c0f4;
}

.optionContainer {
  margin-left: 5px;
  margin-right: 5px;
}

.option {
  padding: 5px;
  margin: 0;
  font-size: 14px;
}

.option:hover {
  background-color: gray;
}

.invisibleOption {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.invisibleOption:hover {
  background-color: gray;
}

.offline {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.offline:hover {
  background-color: gray;
}

.optionInfo {
  margin: 0;
  font-size: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.doNotDisturb {
  display: flex;
  flex-direction: column;
  height: 45px;
}

.doNotDisturb:hover {
  background-color: gray;
}

.checkDisturb {
  display: flex;
  align-items: baseline;
}

.disableOption {
  font-size: 10px;
  padding-left: 26px;
}

hr {
  margin-bottom: 15px;
  margin-top: 15px;
}
