.optionContainer {
  display: flex;
  align-items: center;
  background-color: rgba(110, 100, 100, 0.2);
  margin: 10px 0;
  border-radius: 5px;
}

.infoContainer {
  width: 70%;
}

.option {
  font-weight: 300;
  margin: 0;
  padding: 10px;
}

.info {
  font-size: 13px;
  font-weight: 300;
  margin: 0;
  padding-left: 10px;
  color: dimgray;
}

.onOffButtons {
  margin-left: auto;
}

.heading {
  margin: 0;
}

@media screen and (max-width: 700px) {
  .option {
    font-size: 12px;
  }
  .info {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 500px) {
  .info {
    font-size: 10px;
  }
}

@media screen and (max-width: 400px) {
  .option {
    font-size: 8px;
  }

  .info {
    font-size: 7px;
  }
}
