.main {
  background: linear-gradient(90deg, rgba(42, 71, 94, 1) 0%, rgba(27, 40, 56, 1) 65%);
  height: 4rem;
  display: flex;
}

.profileImage {
  width: 45px;
  height: 45px;
  padding: 8px;
}

.userContainer {
  display: flex;
  flex-direction: column;
  margin-top: 17px;
  font-size: 1rem;
}

.userAndArrow {
  display: flex;
}

.userName {
  margin: 0;
  color: #66c0f4;
}

.userStatus {
  margin: 0;
  color: #66c0f4;
}

.settings {
  margin-left: auto;
  margin-top: auto;
  padding-right: 5px;
  padding-bottom: 5px;
}

.cogWheel {
  height: 20px;
  width: 20px;
  color: gray;
}
