.root {
  position: absolute;
  top: 0;
  left: 20px;
  margin: 0 auto;
  background-color: #373a40;
  width: 125px;
  height: 155px;
  display: none;
  z-index: 1;
}

.open {
  display: block;
}

.optionList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.option {
  margin: 0 auto;
  width: 85%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
  font-size: 12px;
  color: rgba(191, 191, 191, 0.8);
}

.option:hover {
  background-color: gray;
}

hr {
  width: 99%;
  border: none;
  height: 0.5px;
  color: lightgray;
  background-color: rgba(191, 191, 191, 0.5);
  margin: 0;
}
