.root {
}

.header {
  font-size: 35px;
  font-weight: 300;
}

.micTestContainer {
  display: flex;
}

.micTest {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 100%;
  background-color: rgba(110, 100, 100, 0.2);
  border: 8px solid rgba(110, 100, 100, 0.7);
}

.button {
  background-color: rgba(110, 100, 100, 0.7);
  opacity: 0.6;
  transition: 0.3s;
}

.button:hover {
  background-color: rgba(110, 100, 100, 0.3);
  box-shadow: 0px 1px 5px 1px #000000;
  opacity: 1;
}

.voiceInpDev {
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.voiceInpLabel {
  font-size: 15px;
  font-weight: 300;
}

.voiceOutDev {
  margin-top: 10px;
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
}

.voiceOutLabel {
  font-size: 15px;
  font-weight: 300;
}

.volumeSliderContainer {
  display: flex;
  justify-content: space-around;
}

.volumeSlider {
  height: 80px;
  width: 200px;
  margin-top: 30px;
  padding-left: 10px;
  background-color: rgba(110, 100, 100, 0.2);
}

.volumeHeader {
  margin-bottom: 0;
  font-weight: 300;
}

.volumeRange {
  width: 95%;
  margin: 0 auto;
}

.userMic {
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 400px) {
  .volumeHeader {
    font-size: 8px;
  }
}
