.root {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
/* 
.friendContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.friendImage {
  height: 35px;
  padding-right: 10px;
}

.friendName {
  margin: 0;
  font-size: 15px;
  color: lightgreen;
}

.friendPlaying {
  margin: 0;
  font-size: 10px;
  color: #7da10e;
} */

.onlineHr {
  height: 1px;
  border: none;
  margin-top: 4px;
  opacity: 0.3;
  background-color: #fff;
}
