.root {
  height: 600px;
  font-size: 10px;
  color: gray;
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.open {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 40px;
  grid-column: 1/1;
  background-color: rgba(40, 45, 55, 1);
}

.settings {
  margin-left: 5px;
  font-size: 15px;
  font-weight: 400;
  color: #66c0f4;
}

.leftOption {
  margin: 5px;
}

.leftOption:hover {
  color: white;
  cursor: pointer;
}

.rightContainer {
  color: white;
  grid-column: 2/2;
  padding-top: 10px;
  padding-left: 30px;
  background: linear-gradient(to right, rgba(40, 42, 50, 1) 0%, rgba(27, 40, 56, 1) 26%);
}

.rightBox {
  width: 70vw;
}

.rightHeader {
  display: flex;
}

.cross {
  position: relative;
  float: right;
  top: 35px;
  height: 20px;
  width: 20px;
}

.cross:hover {
  cursor: pointer;
}

.header {
  font-size: 35px;
}

.rightOption {
  display: flex;
  background-color: #404040;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  width: 90%;
}

.heading {
  margin: 0;
}

.onOffButtons {
  margin-left: auto;
}

@media screen and (max-width: 800px) {
  .rightBox {
    width: 60vw;
  }
}

@media screen and (max-width: 700px) {
  .open {
    grid-template-columns: 100px 1fr;
  }

  .leftContainer {
    padding-left: 0;
  }

  .settings {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .rightContainer {
    padding-left: 10px;
  }
}

@media screen and (max-width: 400px) {
  .rightContainer {
    padding-left: 5px;
  }
}
