.root {
  height: 32px;
  background-color: rgba(180, 180, 180, 0.3);
  display: flex;
}

.searchLabel {
  opacity: 1;
  align-self: center;
  color: gainsboro;
  padding-left: 20px;
  padding-right: 20px;
}

.searchField {
  display: flex;
  width: 90vw;
}

.searchInput {
  position: relative;
  width: 98%;
  height: 80%;
  padding-left: 10px;
  align-self: center;
  opacity: 0;
  transition: 0.5s;
  background-color: #686a76;
  color: white;
  border: none;
  border-radius: 2px;
}

.searchInput:hover {
  opacity: 1;
  background-color: #373a40;
}

.searchInput:active,
input:focus {
  outline: none;
  opacity: 1;
  background-color: #373a40;
}

.searchInput:active + .searchLabel {
  display: none;
}

.searchIcons {
  display: flex;
  margin-left: auto;
}

.magnifying {
  position: relative;
  height: 20px;
  width: 20px;
  align-self: center;
  color: lightgray;
  right: 40px;
}

.add {
  position: relative;
  right: 10px;
  height: 20px;
  width: 20px;
  align-self: center;
  color: lightgray;
}

.hide {
  display: none;
}
