.root {
  margin-top: 20px;
  height: 150px;
  border: 1px solid gray;
}

.buttons {
  padding: 5px;
  background-color: rgba(110, 100, 100, 0.2);
}

.button {
  background-color: rgba(0, 60, 60, 0.1);
  width: 31%;
  margin: 3px;
  border-radius: 2px;
}

.button:hover {
  background-color: rgba(110, 100, 100, 0.2);
}

.muteToggle {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  padding: 5px;
}

.muteP {
  font-size: 13px;
  margin-right: 5px;
}

.muteCancel {
  margin-left: 5px;
  border-radius: 2px;
}

.soundOn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.soundP {
  margin: 0;
  font-size: 13px;
}

.soundSwitch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 10px;
  margin-right: 7px;
}

.soundCheck {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 10px;
  border-radius: 35px;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  bottom: -2px;
  border-radius: 100px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.soundCheck:checked + .slider {
  background-color: #2196f3;
}

.soundCheck:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.soundCheck:checked + .slider:before {
  transform: translateX(26px);
}
