.buttons {
  padding: 5px;
}

button {
  border: none;
  display: inline-block;
  background-color: rgba(108, 122, 137, 0.2);
  color: white;
  padding: 7px 20px;
  outline: none;
}

.buttonOff {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.buttonOn {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.onOpen {
  background-color: black;
}

button:hover {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .buttons {
    width: 80px;
  }
  button {
    padding: 4px 10px;
  }
}

@media screen and (max-width: 600px) {
  .buttons {
    width: 60px;
  }
  button {
    padding: 4px 5px;
  }
}

@media screen and (max-width: 400px) {
  button {
    padding: 2px 3px;
  }
}

.open {
  background-color: rgba(25, 151, 204, 1);
}

.off {
  background-color: rgba(108, 122, 137, 0.5);
}
