.buttons {
  padding: 5px;
}

button {
  border: none;
  display: inline-block;
  background-color: rgba(211, 211, 211, 0.5);
  color: white;
  padding: 7px 20px;
}

.buttonOff {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.buttonOn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.onOpen {
  background-color: black;
}

.buttonOn:current {
  background-color: blue;
}

button:hover {
  cursor: pointer;
  background-color: white;
}
