.split {
  height: 1px;
  border: none;
  margin-top: 4px;
  opacity: 0.3;
  background-color: #686d76;
}

.onlineSplit {
  height: 1px;
  border: none;
  margin-top: 1rem;
  opacity: 0.3;
  background-color: #fff;
}

.onlineFriends {
  font-size: 0.8rem;
  color: whitesmoke;
  padding-left: 1rem;
}

.offlineFriends {
  font-size: 0.8rem;
  color: whitesmoke;
  padding-left: 1.1rem;
}
