.root {
  display: flex;
  align-items: center;
  padding: 0.3rem 0 0.2rem 0.5rem;
  width: 98vw;
}

.root:hover,
.open {
  background-color: rgba(102, 192, 244, 0.1);
}

.userArrow {
  position: relative;
  opacity: 0;
}

.root:hover .userArrow,
.open .userArrow {
  opacity: 1;
}

.userArrow:hover {
  color: black;
}

.userImg {
  padding-right: 0.5rem;
}

.userContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.friendAndOptions {
  display: flex;
  align-items: center;
}

.userName,
.userStatus {
  font-size: 0.8rem;
  margin: 0;
  color: #66c0f4;
}
