.settingTitle {
  margin: 8px;
  font-weight: 400;
  font-size: 15px;
}

.settingTitle:hover {
  color: white;
  cursor: pointer;
}

.open {
  display: block;
}

@media screen and (max-width: 700px) {
  .settingTitle {
    font-size: 10px;
  }
}
